<h2>Olympic games app</h2>
<hr/>
<div>
  <div>
    <div class="center">
      <div><h2>{{ titlePage }}</h2></div>
    </div>
    <div class="split">
      <div class="stat-left">
        <p>Number of countries</p>
        <p>{{ totalCountries }}</p>
      </div>
      <div class="stat-right">
        <p>Number of JOs</p>
        <p>{{ totalJOs }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="error-box">
  ⚠️ {{ error }}
  </div>
  <div class="chart-container">
   <app-country-chart
        [countries]="chartCountries"
        [medals]="chartMedals"
        [label]="'Medals'"
        [backgroundColor]="['#0b868f', '#adc3de', '#7a3c53', '#8f6263', 'orange', '#94819d']"
        (countrySelected)="onCountryChartSelect($event)"
      ></app-country-chart>
  </div>
</div>
