<h2>Olympic games app</h2>
<hr/>
<div>
  <div>
    <div class="center">
      <div><h2>{{ titlePage }}</h2></div>
    </div>
    <div class="split">
      <div class="stat-left">
        <p>Number of countries</p>
        <p>{{ totalCountries }}</p>
      </div>
      <div class="stat-right">
        <p>Number of JOs</p>
        <p>{{ totalJOs }}</p>
      </div>
    </div>
  </div>
  <div style="width: 45%; margin: auto;">
  <canvas id="DashboardPieChart">{{ pieChart }}</canvas>
  </div>
</div>
