.chart-container {
  width: 100%;
  height: 100%;
  max-width: 1500px;   /* limite la largeur sur grands écrans */
  margin: auto;         /* centre le conteneur */
  box-sizing: border-box;
}
.error-box {
  color: white;
  background: #d9534f;
  padding: 12px;
  border-radius: 8px;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}